<h1>ジャンル一覧・追加</h1>
<%= form_with model:@genre, url: admin_genres_path do |f| %>
 <p>ジャンル名:
  <%= f.label :name %>
  <%= f.text_field :name, class:'form-control book_title' %>
 </p>
 <p>
     <%= f.submit class:'btn btn-success' %>
 </p>
<% end %>
<h4>ジャンル</h4>
 <% @genres.each { |genre| %>
 <p>ジャンル名:<%= genre.name %></p>
 <p><%= link_to "編集する", edit_admin_genre_path(genre.id) %></p>
 <% end %>